<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/normalize.css">
    <link rel="stylesheet" href="CSS/style.css">
    <title>Adsorción</title>
   
</head>
<body>
    <header class="header container">
        <div class="logo">
            <img src="pgif2.gif" alt="Ligando">

        </div>
        <nav class="nav">
            <a href="#">Pagina principal</a>
            <a href="#">Act. 1 Modelo matemático</a>
            <a href="#">Act. 2 Problema de KLa </a>
            <a href="#">Act. 4 Problema 4.13 de lobo</a>
            <a href="#">Act. 3 y 5 Cuestionarios </a>
            <a href="#">Act. 6 Problema de solubilidad de amoniaco</a>
      
        </nav>
    </header>
    <section class="dos-columnas mg-top container">
        <div class="contenido">
        <h2 class="init">init</h2>
        <h2 class="fg"> tu amigo digital</h2>
        <p class="info-text">Aquì podrás encontrar info del problema x</p>
        <div class="group-btn">
            <a href="#" class="btn btn-yellow"> crea contenido a cambio de recompensas </a>
            <a href="#" class="btn border">Descarga nuestro contenido gratis</a> </div>
        </div>
        <div class="info-img">
            <img src="pgif2.gif" alt="ligando2">

        </div>
    </section>
</body>
</html>