 
 <center> <h1>{{ title }}</h1></center>
    <BODY bgcolor="#f3fafc" text="black">
      

 
    <p> 
   JUST IMAGINE A PROTEIN AND LIGAND
 

    
    </p>
    <center><table border="1">
    
    
    <tr>
    <td><center>Proteìna </center></td>
    <td><center>Proteìna-ligando</center></td>
    <td><center>Ligando</center></td>

    </tr>
    <main class=" container ">

      {%load static%} 
   
     
    </main>
    
    

    <img src="{% static 'pgif2.gif' %}" alt="" width="500"> 
    
    <tr>
    <td><img src="{% static 'proteina.jpeg' %}" alt="" width="400"></td>
    <td><img src="{% static 'pgif2.gif' %}" alt="" width="400"> </td>
    <td><img src="{% static 'ligando1.jpeg' %}" alt="" width="400"></td>
    </tr>

    
    </table></center>
    <center><img src="AGUJERO.GIF"></center>
    
    <h1><font color="red" face="comic sans">titulo aqui</font></h1>
    <h3>titulo aqui</h3>
    <h4>titulo aqui</h4>
    <h5>titulo aqui</h5>
    <h6>titulo aqui</h6>
    
    
                                                                                                                                                                                                                                                                                                                                                                                                                                 
              
    </BODY>