<!DOCTYPE html>
{% extends 'nav.html' %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'styles/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/input.css' %}">
    <link rel="stylesheet" href="{% static 'styles/docking.css' %}">
    <title>Jobs</title> 
</head>
<body>
    <h1>New job</h1>

    <!-- form id="runJob" action="{% url 'jobs' %}" method="post" enctype="multipart/form-data" -->

    <div class="jobscontainer">
        {% if message %}
            <div class="result-message">
                {{ message }}
            </div>
        {% endif %}

        <!--jobsbox is each of the three columns that separate
        the menus for protein, chain and ligand-->
        <div class="jobsbox">
            <h2>Protein</h2>
            <label for="contentSelector1">Select from:</label>
            <select id="contentSelector1" class="content-selector">
                <option value="uploadfile1">Upload file</option>
                <option value="fetchpdb">Fetch from PDB</option>
            </select>

            <!-- show the upload file option by default -->
            <div id="uploadfile1" class="content-section show">
                <form id="uploadProteinForm" method="post" action="{% url 'process_protein' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ docking_form.pform }}
                    <button type="button" onclick="submitProteinForm()">Submit protein</button>
                </form>
                <div id="processingProtein" style="display: none;">Processing protein...</div>
                <div id="proteinProcessedMessage"></div>

                <script>
                    function submitProteinForm() {
                        document.getElementById('proteinProcessedMessage').style.display = 'block';

                        var pForm = document.getElementById('uploadProteinForm');
                        var pFormData = new FormData(pForm);
                        pFormData.append('type', 'process_protein');

                        console.log(pFormData);

                        fetch(pForm.action, {
                            method: 'POST',
                            body: pFormData,
                            headers: {
                                'X-Requested-With': 'XMLHttpRequest',
                            },
                        })
                        .then(response => response.text())
                        .then(data => {
                            document.getElementById('processingProtein').style.display = 'none';
                            var parsedData = JSON.parse(data);
                            document.getElementById('proteinProcessedMessage').innerHTML = parsedData.status;
                            var receptor = parsedData.protein_file;
                            //if the parsed data says success, do the following
                            window.loadReceptor(receptor);
                        })
                        .catch(error => {
                            console.error('Error:', error)
                        });
                    }
                </script>
            </div>

            <div id="fetchpdb" class="content-section">
                <h2>Fetch from PDB</h2>
                <p>This is the content for option 2.</p>
            </div>

            <br>
        </div>
        <div class="jobsbox">
            <h2>Chains</h2>
            <label for="contentSelector3">Select from:</label>
            <select id="contentSelector3" class="content-selector">
                <option value="tdselection">3D selection</option>
                <option value="chainnames">Chain names</option>
            </select>

            <div id="tdselection" class="content-section show">
                Selected chains: <span id="chainstring"></span>
                <style>
                #chainsviewer {
                    position: absolute;
                    width: 22%;
                    height: 220px;
                }
                </style>
                <!-- 
                    molstar.js and .css are obtained from
                    - the folder build/viewer after cloning and building the molstar package 
                    - from the build/viewer folder in the Mol* NPM package
                -->
                <link rel="stylesheet" type="text/css" href="{% static 'molstar/molstar.css' %}" />
                <script type="text/javascript" src="{% static 'molstar/molstar.js' %}"></script>
                <div id="chainsviewer"></div>
                <script type="text/javascript" type="module" src="{% static 'jobs/chains_bundle.js' %}">
                </script>
            </div>

            <div id="chainnames" class="content-section">
                <h2>Chain names</h2>
            </div>

            <br>

        </div>
        <div class="jobsbox">
            <h2>Ligand</h2>
            <label for="contentSelector2">Select from:</label>
            <select id="contentSelector2" class="content-selector">
                <option value="uploadfile2">Upload file</option>
                <option value="fetchpubchem">Fetch from PubChem</option>
            </select>

            <div id="uploadfile2" class="content-section show">
                <form id="uploadLigandForm" method="post" action="{% url 'process_ligand' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ docking_form.lform }}
                    <button type="button" onclick="submitLigandForm()">Submit ligand</button>
                </form>
                <div id="processingLigand" style="display: none;">Processing ligand...</div>
                <div id="ligandProcessedMessage"></div>

                <script>
                    function submitLigandForm() {
                        document.getElementById('ligandProcessedMessage').style.display = 'block';

                        var lForm = document.getElementById('uploadLigandForm');
                        var lFormData = new FormData(lForm);
                        lFormData.append('type', 'process_ligand');

                        console.log(lFormData);
                        getval = lFormData.get('ligand_file');
                        console.log(getval);

                        fetch(lForm.action, {
                            method: 'POST',
                            body: lFormData,
                            headers: {
                                'X-Requested-With': 'XMLHttpRequest',
                            },
                        })
                        .then(response => response.text())
                        .then(data => {
                            document.getElementById('processingLigand').style.display = 'none';
                            var parsedData = JSON.parse(data);
                            document.getElementById('ligandProcessedMessage').innerHTML = parsedData.status;
                            var ligand = parsedData.ligand_file;
                        })
                        .catch(error => {
                            console.error('Error:', error)
                        });
                    }
                </script>

            </div>

            <div id="fetchpubchem" class="content-section">
                <h2>Fetch from PubChem</h2>
                <p>This is the content for option 2.</p>
            </div>

            <br>
        </div>
    </div>
    <br>
    <br>
    <br>
    <center>
    <form id="runJob" method="post" action="{% url 'jobs' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <button type="button" onclick="submitDockingForm()">Run job!</button>
    </form>
    <script>
        function submitDockingForm() {
            var pForm = document.getElementById('uploadProteinForm');
            var pFormData = new FormData(pForm);

            var lForm = document.getElementById('uploadLigandForm');
            var lFormData = new FormData(lForm);

            console.log("Hello2");
            var dockingForm = document.getElementById('runJob');
            var dockingFormData = new FormData(dockingForm);
            dockingFormData.append('type', 'run_job');

            for (const [key, value] of pFormData.entries()) {
                dockingFormData.append(key, value);
            }

            for (const [key, value] of lFormData.entries()) {
                dockingFormData.append(key, value);
            }
        
            console.log(pFormData);
            console.log(lFormData);
            console.log(dockingFormData);

            fetch(dockingForm.action, {
                method: 'POST',
                body: dockingFormData,
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                },
            })
                .then(response => {
                    if (response.redirected) {
                        window.location.href = response.url;
                    }
                    else {
                        window.location.reload();
                    }
                })
                .catch(error => {
                    console.error('Error:', error)
                });
        }
    </script>
    </center>
    <script src="{% static 'jobs/dropdown.js' %}"></script>

    <!-- /form -->

</body>
{% endblock %}

</html>
