<!DOCTYPE html>
{% extends 'nav.html' %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'styles/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/input.css' %}">
    <link rel="stylesheet" href="{% static 'styles/docking.css' %}">
    <title>Jobs</title> 
</head>
<body>
    <h1>New job</h1>

    <!-- form id="runJob" action="{% url 'jobs' %}" method="post" enctype="multipart/form-data" -->

    <div class="jobscontainer">
        {% if message %}
            <div class="result-message">
                {{ message }}
            </div>
        {% endif %}

        <!--jobsbox is each of the three columns that separate
        the menus for protein, chain and ligand-->
        <div class="jobsbox">
            <h2>Protein</h2>
            <label for="contentSelector1">Select from:</label>
            <select id="contentSelector1" class="content-selector">
                <option value="uploadfile1">Upload file</option>
                <option value="fetchpdb">Fetch from PDB</option>
            </select>

            <!-- show the upload file option by default -->
            <div id="uploadfile1" class="content-section show">
                <form id="uploadProteinForm" method="post" action="{% url 'process_protein' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ docking_form.pform }}
                    <br>
                    <br>
                    <button type="button" onclick="submitProteinForm()">Submit protein</button>
                </form>
                <div id="processingProtein" style="display: none;">Processing protein...</div>
                <div id="proteinProcessedMessage"></div>

                <script>
                    function submitProteinForm() {
                        document.getElementById('proteinProcessedMessage').style.display = 'block';

                        var pForm = document.getElementById('uploadProteinForm');
                        var pFormData = new FormData(pForm);
                        pFormData.append('type', 'process_protein');

                        //console.log(pFormData);

                        fetch(pForm.action, {
                            method: 'POST',
                            body: pFormData,
                            headers: {
                                'X-Requested-With': 'XMLHttpRequest',
                            },
                        })
                        .then(response => response.text())
                        .then(data => {
                            document.getElementById('processingProtein').style.display = 'none';
                            var parsedData = JSON.parse(data);
                            document.getElementById('proteinProcessedMessage').innerHTML = parsedData.status;
                            var receptor = parsedData.protein_file;
                            //if the parsed data says success, do the following
                            window.loadReceptor(receptor);
                        })
                        .catch(error => {
                            console.error('Error:', error)
                        });
                    }
                </script>
            </div>

            <div id="fetchpdb" class="content-section">
                <h2>Fetch from PDB</h2>
                <p>This is the content for option 2.</p>
            </div>

            <br>
        </div>
        <div class="jobsbox">
            <h2>Chains</h2>
            <label for="contentSelector3">Select from:</label>
            <select id="contentSelector3" class="content-selector">
                <option value="tdselection">3D selection</option>
                <option value="chainnames">Chain names</option>
            </select>

            <div id="tdselection" class="content-section show">
                Selected chains: <span id="chainstring"></span>
                <style>
                #chainsviewer {
                    position: absolute;
                    width: 22%;
                    height: 220px;
                }
                </style>
                <!-- 
                    molstar.js and .css are obtained from
                    - the folder build/viewer after cloning and building the molstar package 
                    - from the build/viewer folder in the Mol* NPM package
                -->
                <link rel="stylesheet" type="text/css" href="{% static 'molstar/molstar.css' %}" />
                <script type="text/javascript" src="{% static 'molstar/molstar.js' %}"></script>
                <div id="chainsviewer"></div>
                <script type="text/javascript" type="module" src="{% static 'jobs/chains_bundle.js' %}">
                </script>
            </div>

            <div id="chainnames" class="content-section">
                <h2>Chain names</h2>
            </div>
            <br>

        </div>
        <div class="jobsbox">
            <h2>Ligand</h2>
            <label for="contentSelector2">Select from:</label>
            <select id="contentSelector2" class="content-selector">
                <option value="uploadfile2">Upload file</option>
                <option value="fetchpubchem">Fetch from PubChem</option>
            </select>

            <div id="uploadfile2" class="content-section show">
                <form id="uploadLigandForm" method="post" action="{% url 'process_ligand' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ docking_form.lform }}
                    <br>
                    <br>
                    <button type="button" onclick="submitLigandForm()">Submit ligand</button>
                </form>
                <div id="processingLigand" style="display: none;">Processing ligand...</div>
                <div id="ligandProcessedMessage"></div>

                <script>
                    function submitLigandForm() {
                        document.getElementById('ligandProcessedMessage').style.display = 'block';

                        var lForm = document.getElementById('uploadLigandForm');
                        var lFormData = new FormData(lForm);
                        lFormData.append('type', 'process_ligand');

                        //console.log(lFormData);
                        //getval = lFormData.get('ligand_file');
                        //console.log(getval);

                        fetch(lForm.action, {
                            method: 'POST',
                            body: lFormData,
                            headers: {
                                'X-Requested-With': 'XMLHttpRequest',
                            },
                        })
                        .then(response => response.text())
                        .then(data => {
                            document.getElementById('processingLigand').style.display = 'none';
                            var parsedData = JSON.parse(data);
                            document.getElementById('ligandProcessedMessage').innerHTML = parsedData.status;
                            var ligand = parsedData.ligand_file;
                        })
                        .catch(error => {
                            console.error('Error:', error)
                        });
                    }
                </script>

            </div>

            <div id="fetchpubchem" class="content-section">
                <h2>Fetch from PubChem</h2>
                <p>This is the content for option 2.</p>
            </div>

            <br>
        </div>
    </div>
    
    <center>
    <br />
    a
    <br />
    a
    <br />
    a
    <br />
    a
    <br />
    a
    <br />
    a
    <br />
    a
    <br />
    a
    <br />
    a
    <br />
    a
    <br />
    a
    <br />
    a
    <br />
    a
    <br />
    a
    <br />
    a
    <br />
    a
    <br>
    <br>
    <button type="button" onclick="loadPockets()">Choose pockets (optional)</button>
    <script>
        //request to compute pockets via p2rank
        function loadPockets() {
            var pForm = document.getElementById('uploadProteinForm');
            var pFormData = new FormData(pForm);
            //var parsedPFormData = JSON.parse(pFormData);
            var receptor = pFormData.get('protein_file');

            //add selected chains (if any)
            var chainSpan = document.getElementById('chainstring');
            var chainString = chainSpan.textContent;
            pFormData.append('chainString', chainString);

            fetch('/load_pockets/', {
                method: 'POST',
                body: pFormData,
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                },
            })
            .then(response => response.json())
            .then(data => {
                retrievePockets(data.job_id);
            })
            .catch(error => {
                console.error('Error:', error)
            });
        }

        //request to poll pocket job status, and display the pockets when it's done
        function retrievePockets(jobId) {
            //console.log("JOBID: ", jobId);
            fetch(`/retrieve_pockets/${jobId}/`)
            .then(response => response.json())
            .then(data => {
                if (data.status === 'pending') {
                    setTimeout(() => {
                        retrievePockets(jobId);
                    }, 5000);
                } else if (data.pockets_file) {
                    //var pocketsdiv = document.getElementById('pocketsinfo');
                    const parsedPocketsCSV = parsePocketsCSV(data.pockets_file);
                    displayPocketsTable(parsedPocketsCSV);
                    //console.log(data.pockets_file);
                } else {
                    console.log("retrievePockets: Something went wrong")
                }
            })
            .catch(error => {
                console.error('Error:', error)
            });
        };

        //prepare CSV file for display in pockets table and for actaul pocket parsing
        const parsePocketsCSV = (csv) => {
            const lines = csv.split('\n');
            const headers = lines[0].split(',');
            const data = [];

            for (let i = 1; i < lines.length; i++) {
                const line = lines[i].split(',');
                if (line.length === headers.length) {
                    const entry = {};
                    for (let j = 0; j < headers.length; j++) {
                        entry[headers[j].trim()] = line[j].trim();
                    }
                    //entry['id'] = i;
                    data.push(entry);
                }
            }
            return data;
        };

        //build pockets from the CSV data
        const parsePocket = (rank, prankIds) => {
            let pocket = {
                rank: rank,
                seq: []
            }; 
            pastChain = '';
            //prank ids are auth_seq_ids attached to the name of the chain they belong to (eg A_32)
            prankIds.split(' ').forEach(prankId => {
                let [chain, resId] = prankId.split('_');
                resId = parseInt(resId);
                if (chain !== pastChain) {
                    pocket.seq.push({ chain: chain, subSeq: [] });
                    pastChain = chain;
                }
                pocket.seq[pocket.seq.length - 1].subSeq.push(resId);
            });

            return pocket;
        };

        const displayPocketsTable = (data) => {
            //TODO: reset the table if the user presses the 'choose pockets' button again
            const tableBody = document.querySelector('#pocketsTable tbody');
            data.forEach(entry => {
                const row = document.createElement('tr');
                //we can get rid of seq here; it's only for debugging purposes
                //residue_ids is the name given by prank in the csv. resIds used later is a different object
                let pocket = parsePocket(entry['rank'], entry['residue_ids']);
                const pocketString = JSON.stringify(pocket).replace(/"/g, '&quot;'); //escape quotes to avoid syntax errors in the HTML
                //console.log(pocketString);
                row.innerHTML = `
                    <td><input type="checkbox" value="${entry['rank']}" pocket="${pocketString}" onchange="togglePocket(this)"></td>
                    <td>${entry['rank']}</td>
                    <td>${entry['score']}</td>
                    <td>${entry['probability']}</td>`;
                tableBody.appendChild(row);
            });
        };

        function togglePocket(checkbox) {
            const value = checkbox.value;
            const pocketString = checkbox.getAttribute('pocket'); //since pocket is not a default HTML attribute
            //console.log(pocketString);
            const pocket = JSON.parse(pocketString);
            const isChecked = checkbox.checked;

            console.log(`Checkbox value: ${value}, Checked: ${isChecked}, Pocket: ${pocketString}`);
            window.togglePocketRepr(pocket, isChecked);
        }


    </script>

    <table id="pocketsTable">
        <thead>
            <tr>
                <th>Choose</th>
                <th>Rank</th>
                <th>Score</th>
                <th>Probability</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <h2>Settings</h2>

    <form id="settingsForm">
        <!-- https://www.w3schools.com/html/html_form_input_types.asp -->
        <label for="exhaustiveness">Exhaustiveness (between 1 and 64):</label>
        <input type="number" id="exhaustiveness" name="exhaustiveness" value="8" min="1" max="64">
        <br>
        <label for="modes">Number of modes (conformers) (between 1 and 20):</label>
        <input type="number" id="modes" name="modes" value="9" min="1" max="20">
    </form>

    <form id="runJob" method="post" action="{% url 'jobs' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <button type="button" onclick="submitDockingForm()">Run job!</button>
    </form>
    <script>
        function submitDockingForm() {
            //initialize FormData
            var pForm = document.getElementById('uploadProteinForm');
            var pFormData = new FormData(pForm);

            var lForm = document.getElementById('uploadLigandForm');
            var lFormData = new FormData(lForm);

            var settingsForm = document.getElementById('settingsForm');
            var settingsFormData = new FormData(settingsForm);

            var dockingForm = document.getElementById('runJob');
            var dockingFormData = new FormData(dockingForm);
            dockingFormData.append('type', 'run_job');

            //fill formData with form information
            for (const [key, value] of pFormData.entries()) {
                dockingFormData.append(key, value);
            }

            for (const [key, value] of lFormData.entries()) {
                dockingFormData.append(key, value);
            }
        
            for (const [key, value] of settingsFormData.entries()) {
                dockingFormData.append(key, value);
            }

            //add selected chains (if any)
            var chainSpan = document.getElementById('chainstring');
            var chainString = chainSpan.textContent;
            dockingFormData.append('chainString', chainString);

            //send request with filled form
            fetch(dockingForm.action, {
                method: 'POST',
                body: dockingFormData,
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                },
            })
                .then(response => {
                    if (response.redirected) {
                        window.location.href = response.url;
                    }
                    else {
                        window.location.reload();
                    }
                })
                .catch(error => {
                    console.error('Error:', error)
                });
        }

    </script>
    </center>
    <script src="{% static 'jobs/dropdown.js' %}"></script>

    <!-- /form -->

</body>
{% endblock %}

</html>
